.container {
  width: 90%; /* Adjust width as needed */
  max-width: 500px; /* Maximum width for larger screens */
  margin: 10px auto; /* Center horizontally */
  margin-top: 7pc;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title{
  font-weight: bolder;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.heading {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.transcript-container {
  position: relative;
}

.transcript {
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #0056b3;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-btn:hover {
  background-color: #0056b3;
}

.language-select {
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
}

.reset-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #c82333;
}


/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .container {
      width: 90%; /* Adjust width for smaller screens */
      max-width: none; /* Remove maximum width */
  }
}
